@model TrashCollectorProj.Models.Pickup

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="border-bottom:2px solid #f2cccc;"><strong>Additional One-Time Pick-Up</strong></h1>

<h4 style="color:#8ecccc;">Select your custom Date and Time</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Pick-up Date</label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label">Pick-up Time</label>
                <input asp-for="Time" type="time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8" style="color:#aeb00a;margin-top:5%;">
        <p>Remember that this is a one time,<br /> additional pick-up that is complimentary to<br /> all our customers for their continued support. <br />Thank you!</>
    </div>
</div>
<div style="margin-bottom:20%;">
    <a asp-action="Index">Back to List</a>
</div>
