@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TrashCo</h1>
    <p>Scroll down to meet our state of the art team of collection agents!</p>
</div>
